{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 80,
  "bracketSpacing": true,
  "trailingComma": "none",
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "htmlWhitespaceSensitivity": "ignore"
      }
    },
    {
      "files": ["*.css", "*.scss"],
      "options": {
        "singleQuote": false
      }
    }
  ]
}
