{{ define "main" }}
<div class="w-full h-screen bg-red-500">
    <h1>Hello World</h1>
</div>
  <article>
    <h1>Latest Posts</h1>
    
    <ul>
      {{ range (where .Site.RegularPages "Section" "blog").ByDate.Reverse }}
      <li>
        <a href="{{ .RelPermalink }}">
          <div>
            <h2>
              {{ .Title }}
            </h2>
            <time datetime="{{ .Date.Format "2006-01-02" }}">
              {{ .Date.Format "January 2, 2006" }}
            </time>
          </div>
          {{ with .Description }}
          <p>{{ . }}</p>
          {{ end }}
        </a>
      </li>
      {{ end }}
    </ul>
  </article>
{{ end }}