@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "tailwindcss";
@plugin "daisyui" {
  include: link, footer, card, typography, size, button, kbd, prose;
}
@plugin "@tailwindcss/typography";

@theme {
  --font-atkinson: "Atkinson Hyperlegible", sans-serif;
}

* {
  font-family: var(--font-atkinson);
}

.kbd-2xl {
  --size: calc(var(--size-selector, 0.25rem) * 10);
  font-size: 1.5rem;
  line-height: 1;
}
